html,
body {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  .scrollable::-webkit-scrollbar {
    display: none;
  }
  .modal-body::-webkit-scrollbar {
    display: none;
  }
  
  .div::-webkit-scrollbar {
    display:none
  }